@use 'partials/colors';
@use 'partials/globals';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: colors.$main-background;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img-container {
    overflow: hidden;
    height: 321px;
    border-radius: globals.$border-radius;
}

.card {
    max-width: 375px;
    background-color: colors.$card-background;
    box-shadow: globals.$box-shadow;
    padding: 1.5em;
    border-radius: globals.$border-radius;

    &-img {
        transition: transform 0.3s ease-in-out;
        max-width: 100%;
        border-radius: globals.$border-radius;
        box-shadow: globals.$box-shadow;
    }

    &-img:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
    }
    
    &-title {
        color: colors.$white;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 1em 0;
    }

    & a {
        color: colors.$white;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    & a:hover,
    a:focus {
        transition: color 0.2s ease-in-out;
        color: colors.$cyan;
    }

    &-desc {
        color: colors.$soft-blue;
        font-weight: 300;
        font-size: 1rem;
        margin: 1em 0;
    }

    &-value {
        color: colors.$cyan;
        font-size: 0.9875rem;
    }

    &-time-left {
        color: colors.$soft-blue;
        font-size: 0.9875rem;
    }

    &-seperator {
        border-bottom: solid 4px;
    }

    &-user-img {
        border: 2px solid colors.$white;
        border-radius: 50%;
        width: 40px;
        height: auto;
        box-shadow: globals.$box-shadow;
    }

    &-username {
        color: colors.$soft-blue;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$seperator;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.eth-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.user-container {
    display: flex;
    justify-content: flex-start;
    font-weight: 300;
    align-items: center;
    gap: 1em;
    height: 3em;
}